
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    overflow: hidden;
    background-color:#ff5e00;
    position: relative;
    
  }
  
 nav #myLinks {
    display: none;
    
  }

  nav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }
  
nav a.icon {
    background: black;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }


p
{
    color: rgb(18, 42, 87);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    word-spacing: 1pt;
    text-align: center;
}

.galerija{
    min-height: 500px;
}
.galerija img
{
    width: 350px;
    height: 220px;
}
.galerija img{
    display: inline-block;
}

.footer
{
    bottom: 0;
    height: 140px;
    background-color: #ff5e00;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
}
.footer p
{
    color: black;
    font-size: 20px;
}


 